{% extends "master.html" %}

{% block content %}
      <!-- column 2 -->	
       <h3> {{ heading }}</h3>
       <hr>
       
       {{ headingcontent | raw }}
       
       <hr>
       <h3>Guide (Petunjuk):</h2>
	   <p>1. View original document using <b>Download original document</b> (Lihat dokumen asli menggunakan <b>Download original document</b>).</p>
       <p>2. Create signature using checkbox and <b>Sign</b> button (Buat Tandatangan menggunakan kotak centang dan tombol <b>Sign</b>).</p>
	   <p>3. View signed document using <b>Download signed document</b> (Lihat dokumen yang telah ditandatangan menggunakan <b>Download signed document</b>).</p>
       <p>4. Verify signature using <b>Verify</b> button (Verifikasi tandatangan dengan tombol <b>Verify</b>).</p>
       <p>5. Return to project by click on project name (Kembali ke proyek dengan mengetuk nama proyek).</p>
       <a class="btn btn-sm btn-default" target="_blank" href="{{ WebAddr }}/static/signing.jpg">Document Signing Guide</a>
       <hr>
		{% if info %}
			<div class="alert alert-success" role="alert">
			{{ info }}
			</div>
		{% endif %}
		{% if alert %}
			<div class="alert alert-danger" role="alert">
			<span class="sr-only">Error:</span>
			{{ alert }}
			</div>
		{% endif %}
       
       <h3>Signature</h2>
       
       {{ signingcontent | raw }}
       
		<hr>

		
		<script>
		
		var docsignBtn = '<button class="btn btn-primary docsign-btn" type="submit">Sign</button>';
		
		$(document).ready(function() {
	        var $cbs = $('input[name="confirm"]').click(function() {
	                         $('.btn-container').html('');
	                         $('.btn-container').html(docsignBtn);
	                        // $('.btn-verify-container').html('');
	                        $('.debug-container')
	        });
	    });
    
		$(document).on('click','.docsign-btn',function(){
			$(this).attr("disabled", "disabled");
		    $.ajax(
		    {
		        url: '{{ WebAddr }}/signing/document',
		        type: "POST",
		
		        data: {"documentnumber": "{{ documentnumber }}","projectname": "{{ projectname }}","signerid": "{{ signerid }}","fileurl":"{{ fileurl }}",
		        		"filehash":"{{ filehash }}","documentname":"{{ documentname }}","description":"{{ description }}","callback":"{{ callback }}"},
		        success: function (result) {
					 $(this).attr("enabled", "enabled");
					//alert("Check your device for confirmation. Refresh this page after confirm.");
					window.location.reload();
		        }
		    });
		});	
		
		$(document).on('click','.docverify-btn',function(){
		    $.ajax(
		    {
		        url: '{{ WebAddr }}/signing/verifydocument',
		        type: "POST",
		
		        data: {"signedhash": "{{ signedhash }}","signedtime": "{{ signedtime }}","signature": "{{ signature }}","signerid":"{{ signerid }}"},
		        success: function (result) {
						docverify-btn.disabled = false;
					 alert(result);
		        }
		    });
		});				
		</script>
		
{% endblock %}