{% extends "master.html" %}

{% block content %}
          {% if info %}
          
			  <div class="alert alert-success" role="alert">
			  {{ info }}
			  </div>
		  {% endif %}
		  
		  {% if alert %}
			  <div class="alert alert-danger" role="alert">
			  <span class="sr-only">Error:</span>
			  {{ alert }}
			  </div>
		  {% endif %}
		       	
      <!-- column 2 -->	
       <h3> User Guide </h3>
            
       <hr>
      
	   <div class="row">
            <!-- center left-->
            <h4>General concept</h4>
            <p>
            This website is a platform for managing contract document and legalize agreement in electronic document.<br>
            By signing document using electronic signature, your document is legalized and protected by law.
            <br><br>
            <b>General workflow:</b>
            <img src="{{ WebAddr }}/static/general_process.jpg" alt="Process Diagram">
            <h4>Basic Usage</h4>
            <p><b>1. Registration</b></p>
            <img src="{{ WebAddr }}/static/steps_registration.jpg" alt="Registration">
            <p><b>2. Open Web Site</b></p>
            <p>User can access menu to create project, create document and signing operation.</p>
            <p><b>3. Confirmation</b></p>
            <img src="{{ WebAddr }}/static/steps_user_confirmation.jpg" alt="User Confirmation">
            </p>
            <h4>Steps</h4>
            <p><b>1. Create Project</b></p>
            <img src="{{ WebAddr }}/static/steps_create_project.jpg" alt="Create Project">
            <p><b>2. Identity Verification</b></p>
            <img src="{{ WebAddr }}/static/steps_identity_verification.jpg" alt="Identity Verification">
            <p><b>3. Create Document</b></p>
            <img src="{{ WebAddr }}/static/steps_create_document.jpg" alt="Create Document">
            <p><b>4. Sign Document</b></p>
            <img src="{{ WebAddr }}/static/steps_sign_document.jpg" alt="Sign Document">
            <p><b>5. Project Report</b></p>
            <img src="{{ WebAddr }}/static/steps_project_report.jpg" alt="Project Report">
            <hr>
       </div><!--/row-->
       
{% endblock %}