{% extends "master.html" %}

{% block content %}
          {% if info %}
          
			  <div class="alert alert-success" role="alert">
			  {{ info }}
			  </div>
		  {% endif %}
		  
		  {% if alert %}
			  <div class="alert alert-danger" role="alert">
			  <span class="sr-only">Error:</span>
			  {{ alert }}
			  </div>
		  {% endif %}
		       	
      <!-- column 2 -->	
       <h3> User Guide </h3>
            
       <hr>
      
	   <div class="row">
            <!-- center left-->
            <h4>General concept</h4>
            <p>
            This website is a platform for managing contract document and legalize agreement in electronic document.<br>
            By signing document using electronic signature, your document is legalized and protected by law.
            </p>
            <h4>Steps</h4>
            <p>
            <b>Service provider</b><br>
            - Create new project.<br>
            - Invite buyer by enter their ID Number.<br>
            - Enter 1st milestone name.<br>
            <b>Client</b><br>
            - Contact seller to invited in project.<br>   
            <b>After project created</b><br>
            - Send identity request.<br>
            - Verify others identity and send approval if you agree to begin project.<br>
            - Upload Document to current milestone.<br>
            - Sign Document by signer.<br>
            - Use milestone to organize document.<br>
            </p>
            <h4>Process</h4>
            <p>
            E-commerce process can be different based on job type<br>
            General process:<br>
            <img src="{{ WebAddr }}/static/userguide.jpg" alt="Process Diagram">
            </p>
            <hr>
       </div><!--/row-->
       
{% endblock %}