{% extends "master.html" %}

{% block content %}
          {% if info %}
          
			  <div class="alert alert-success" role="alert">
			  {{ info }}
			  </div>
		  {% endif %}
		  
		  {% if alert %}
			  <div class="alert alert-danger" role="alert">
			  <span class="sr-only">Error:</span>
			  {{ alert }}
			  </div>
		  {% endif %}
		       	
      <!-- column 2 -->	
       <h3> {{ heading }}</h3>
       <hr>
       
       {{ headingcontent | raw }}
       
       <div class="panel-group" id="accordion">
       {{ milestonecontent | raw }}	    
        
        <hr>
        <h3>Guide (Petunjuk):</h2>
        {% if finished == false %}
       	<p>1. Click <b>Create document</b> to add document in current milestone (Klik <b>Create document</b> untuk membuat dokumen pada milestone saat ini).</p>
       	<p>2. Create signature through document menu (Buat Tandatangan melalui menu dokumen).</p>
       	<p>3. Click <b>Create milestone</b> to add new milestone (Klik <b>Create milestone</b> untuk membuat tahap baru).</p>
       	<p>4. Click <b>Project Finished</b> to finalize project (Klik <b>Project Finished</b> untuk mengakhiri proyek).</p>
       	<p>4. Download and save <b>Project Report</b> to your computer for evidence (Unduh dan simpan <b>Project Report</b> untuk keperluan pembuktian di masa mendatang).</p>
       	<hr>
		<form class="input-append" role="form" name="newdocument" action="{{ WebAddr }}/document/create" method="post">
		<input type="hidden" name="projectname" id="projectname" value="{{ projectname }}" />
		<input type="hidden" name="projectnumber" id="projectnumber" value="{{ projectnumber }}" />
		<input type="hidden" name="currentmilestone" id="currentmilestone" value="{{ currentmilestone }}" />
		<input type="hidden" name="milestonenumber" id="milestonenumber" value="{{ milestonenumber }}" />
		<button type="submit" class="btn btn-default btn-sm"><b>Create Document</b></button></form>
		<hr>
        {% endif %}
        
        {% if finished %}
        <p>Download and save <b>Project Report</b> to your computer for evidence (Unduh dan simpan <b>Project Report</b> untuk keperluan pembuktian di masa mendatang).</p>
        {% endif %}
	    
	    {{ milestonedropdown | raw }}
	    
		<hr>
        
        {% if iscreator and finished == false %}
        <button class="btn btn-default btn-sm milestonedelete-btn"><b>Delete Last Milestone</b></button>
        <form class="form-inline">
	        <div class="form-group">
	        <input type="text" class="form-control" name="milestonename" id="milestonename" placeholder="Milestone Name">
	        </div>
	        <button class="btn btn-default btn-sm milestonenext-btn"><b>Create Next Milestone</b></button>
	    </form>
        <button class="btn btn-default btn-sm projectfinish-btn"><b>Finish Project</b></button>
        <button class="btn btn-danger  btn-sm projectdelete-btn"><b>Delete Project</b></button>
        
        <hr>
        
        <script>
        $(document).on('click','.milestonedelete-btn',function(){
		    $.ajax(
		    {
		        url: '{{ WebAddr }}/project/milestone/delete',
		        type: "POST",
		        
		        data: {"projectnumber": "{{ projectnumber }}"},
		        success: function (result) {
					 //alert(result);
                     window.location.reload();
		        }
		    });
		});
        
        $(document).on('click','.milestonenext-btn',function(){
		    $.ajax(
		    {
		        url: '{{ WebAddr }}/project/next',
		        type: "POST",
		        
		        data: {"projectnumber": "{{ projectnumber }}", "milestonename":$("input#milestonename").val()},
		        success: function (result) {
					//alert(result);
                    window.location.reload();
		        }
		    });
		});
            
        $(document).on('click','.projectfinish-btn',function(){
		    $.ajax(
		    {
		        url: '{{ WebAddr }}/project/finish',
		        type: "POST",
		        
		        data: {"projectnumber": "{{ projectnumber }}"},
		        success: function (result) {
					 //alert(result);
                     window.location.reload();
		        }
		    });
		});
		
		$(document).on('click','.projectdelete-btn',function(){
            if (confirm("You want to delete this project (Anda ingin menghapus proyek) ?") == true) {
    		    $.ajax(
    		    {
    		        url: '{{ WebAddr }}/project/delete',
    		        type: "POST",
    		        
    		        data: {"projectnumber": "{{ projectnumber }}"},
    		        success: function (result) {
    					 //alert(result);
                         window.location.reload();
    		        }
    		    });
            }
		});
		</script>

        {% endif %}
        
        {% if finished %}
        <a class="btn btn-sm btn-default" target="_blank" href="{{ reporturl }}"><b>Download Project Report</b></a>  <a class="btn btn-sm btn-default" target="_blank" href="{{ logurl }}"><b>Download Project Log</b></a>
        {% endif %}

{% endblock %}