{% extends "master.html" %}

{% block content %}
          {% if info %}
          
			  <div class="alert alert-success" role="alert">
			  {{ info }}
			  </div>
		  {% endif %}
		  
		  {% if alert %}
			  <div class="alert alert-danger" role="alert">
			  <span class="sr-only">Error:</span>
			  {{ alert }}
			  </div>
		  {% endif %}
		       	
      <!-- column 2 -->	
       <h3> {{ heading }}</h3>
       <hr>
       
       {{ headingcontent | raw }}
       
       <h3>Milestone</h2>
       <div class="panel-group" id="accordion">
       {{ milestonecontent | raw }}	    
        
        {% if finished == false %}
		<form class="input-append" role="form" name="newdocument" action="{{ WebAddr }}/document/create" method="post">
		<input type="hidden" name="projectname" id="projectname" value="{{ projectname }}" />
		<input type="hidden" name="projectnumber" id="projectnumber" value="{{ projectnumber }}" />
		<input type="hidden" name="currentmilestone" id="currentmilestone" value="{{ currentmilestone }}" />
		<input type="hidden" name="milestonenumber" id="milestonenumber" value="{{ milestonenumber }}" />
		<button type="submit" class="btn btn-default btn-sm"><b>Create Document</b></button></form>
        {% endif %}
           
		<hr>
	   
	    {{ milestonedropdown | raw }}
	    
		<hr>
        
        {% if iscreator and finished == false %}
        <button class="btn btn-default btn-sm milestonedelete-btn"><b>Delete Last Milestone</b></button>
        <form class="form-inline">
        <div class="form-group">
        <input type="text" class="form-control" name="milestonename" id="milestonename" placeholder="Milestone Name">
        </div>
        <button class="btn btn-default btn-sm milestonenext-btn"><b>Create Next Milestone</b></button>
        </form>
        <button class="btn btn-default btn-sm projectfinish-btn"><b>Finish Project</b></button>
        
        <hr>
        
        <script>
        $(document).on('click','.milestonedelete-btn',function(){
		    $.ajax(
		    {
		        url: '{{ WebAddr }}/project/milestone/delete',
		        type: "POST",
		        
		        data: {"projectnumber": "{{ projectnumber }}"},
		        success: function (result) {
					 //alert(result);
                     window.location.reload();
		        }
		    });
		});
        
        $(document).on('click','.milestonenext-btn',function(){
		    $.ajax(
		    {
		        url: '{{ WebAddr }}/project/next',
		        type: "POST",
		        
		        data: {"projectnumber": "{{ projectnumber }}", "milestonename":$("input#milestonename").val()},
		        success: function (result) {
					//alert(result);
                    window.location.reload();
		        }
		    });
		});
            
        $(document).on('click','.projectfinish-btn',function(){
		    $.ajax(
		    {
		        url: '{{ WebAddr }}/project/finish',
		        type: "POST",
		        
		        data: {"projectnumber": "{{ projectnumber }}"},
		        success: function (result) {
					 //alert(result);
                     window.location.reload();
		        }
		    });
		});
		</script>

        {% endif %}

{% endblock %}